* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

.content {
    position: relative;
    margin: auto;
    width: 1112px;

}

.banner {
    width: 100%;
    height: 287px;
    background: url(../images/bg.png) no-repeat top center;
}

.banner .content h2 {
    text-align: center;
    font-size: 30px;
    height: 125px;
    line-height: 125px;
}

.banner .content .list1 {
    display: flex;
    width: 100%;
    height: 230px;
    background-color: #fff;
    position: absolute;
    box-shadow: 0px 8px 28px 0px rgba(0, 0, 0, 0.06);
    border-radius: 6px;
    align-items: center;
}

.banner .content .list1 ul {
    display: flex;
    width: 100%;
    height: 140px;
    /* background-color: green; */
    justify-content: space-around;
    padding-left: 40px;
    padding-right: 40px;

}

.banner .content .list1 ul li {
    height: 140px;
    width: 116px;
    /* background-color: pink; */
}

.banner .content .list1 ul li span {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: orange; */
}

.banner .content .list1 ul li:hover em {
    margin-top: 15px;
}

.banner .content .list1 ul li:hover span {
    display: flex;
    width: 100px;
    height: 100px;

    margin: auto;
    background-color: red;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.banner .content .list1 ul li span i {

    background: url(../images/icon1.png) no-repeat;
    background-size: 500%;
    background-position: 0px 0px;
    width: 36px;
    height: 36px;
    margin: 40px auto;

}

.banner .content .list1 ul li:hover span i {
    display: block;
    background: url(../images/icon1.png) no-repeat;
    background-size: 500%;
    background-position: 0px -34px;
    width: 36px;
    height: 36px;
    margin: 30px auto;

}

.banner .content .list1 ul .li2 span i {
    background-position: -34px 0px;
}

.banner .content .list1 ul .li2:hover span i {
    background-position: -34px -32px;
}

.banner .content .list1 ul .li3 span i {
    background-position: -65px 0px;
}

.banner .content .list1 ul .li3:hover span i {
    background-position: -65px -34px;
}

.banner .content .list1 ul .li4 span i {
    background-position: -100px 0px;
}

.banner .content .list1 ul .li4:hover span i {
    background-position: -100px -34px;
}

.banner .content .list1 ul .li5 span i {
    background-position: -137px 0px;
}

.banner .content .list1 ul .li5:hover span i {
    background-position: -134px -34px;
}

.banner .content .list1 ul .li6 span i {
    background-position: 0 -68px;
}

.banner .content .list1 ul .li6:hover span i {
    background-position: 0px -100px;
}

.banner .content .list1 ul .li7 span i {
    background-position: -34px -68px;
}

.banner .content .list1 ul .li7:hover span i {
    background-position: -34px -100px;
}

.banner .content .list1 ul .li8 span i {
    background-position: -68px -68px;
}

.banner .content .list1 ul .li8:hover span i {
    background-position: -68px -100px;
}







.banner .content .list1 ul li em {
    display: block;
    font-size: 15px;
    text-align: center;
    height: 15px;
    line-height: 15px;
    margin-top: 10px;
}

.banner .content .list1 ul li p {
    font-size: 12px;
    height: 12px;
    text-align: center;
    margin-top: 3px;
    color: #9e9c9c;
    display: none;
    margin-top: 3px;
}

.banner .content .list1 ul li:hover p {
    display: block;
}

.middle {
    width: 100%;
    background-color: #fff;
    padding-bottom: 72px;
}

.middle .content h2 {
    text-align: center;
    font-size: 30px;
    height: 30px;
    line-height: 30px;
    margin-top: 146px;
    margin-bottom: 45px;
}

.middle .content ul {
    display: flex;
    justify-content: space-around;
    width: 1112px;
    height: 240px;
}

.middle .content ul li {
    position: relative;
    width: 208px;
    height: 204px;
    background-color: #ffffff;
    box-shadow: 0px 8px 28px 0px rgba(0, 0, 0, 0.06);
    cursor: pointer;
}

.middle .content ul li:hover div {
    display: block;
}

.middle .content ul li img {
    width: 100%;
    height: 144px;
}

.middle .content ul li p {
    padding: 20px 20px 0;
    height: 55px;
    font-size: 20px;
    line-height: 20px;
    color: #000;
}

.middle .content ul li div {
    display: none;
    margin: 0 auto;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: red;
    background-image: url(../images/箭头.png);
    background-size: 25px 20px;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.2s all ease;
    position: absolute;
    top: 178px;
    left: 84px;
}

.middle .content .other {
    width: 100%;
    height: 16px;
    display: flex;
}

.middle .content .other a {
    background: url(../images/ocin.png) no-repeat;
    display: block;
    padding: 0 20px 0 21px;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    border-right: 1px solid #666666;
}

.middle .content .other span {
    margin: 0 0 0 20px;
    font-size: 14px;
    line-height: 16px;
    height: 16px;
    color: #333;
    cursor: pointer;
}

.middle .content .other span:hover {
    border-bottom: 1px solid #000;
}

.footer {
    width: 100%;
    padding-bottom: 80px;
    background-color: #f9f9f9;

}

/* .footer .f1 {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 180px;
    background: linear-gradient(180deg, #f8f8f8 0%, #fff 100%);
} */

.footer .title {
    width: 100%;
    text-align: center;

}

.footer .title .title-content {
    margin: 60px auto 30px;
    font-size: 32px;
    line-height: 32px;
    color: #000;
    z-index: 2;
}

.footer .supplies-area {
    width: 100%;
}

.footer .supplies-bar {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 16px;
}

.footer .supplies-bar .supplies-underline {
    position: relative;
    padding: 0 12px;
    font-size: 16px;
    line-height: 16px;
    color: #333333;
}

.footer .supplies-bar .supplies-underline::after {
    position: absolute;
    top: 0;
    right: -2px;
    content: '/';
    color: #cccccc;
    font-size: 16px;
    line-height: 16px;
    text-decoration: #fff;
}

.footer .supplies-bar .supplies-underline span {
    cursor: pointer;
}

.footer .supplies-bar .supplies-underline span:hover {
    border-bottom: 1px solid black;
}

.footer .supplies-list {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 0 0;
    width: 100%;
}

.footer .supplies-list .supplies-list-item {
    position: relative;
    width: 263px;
    height: 340px;
    cursor: pointer;
}

.footer .supplies-list .supplies-list-item img {
    display: block;
    width: 263px;
    height: 285px;
}

.footer .supplies-list .supplies-list-item .supplies-item-panel {
    position: absolute;
    top: 231px;
    left: 13px;
    width: 218px;
    height: 103px;
    background: #fff;
    box-shadow: 0px 8px 28px 0px rgba(0, 0, 0, 0.06);
    transition: 0.2s all ease;
    padding-left: 20px;
}

.footer .supplies-list .supplies-list-item .supplies-item-panel .p1 {
    font-size: 24px;
    line-height: 24px;
    height: 24px;
    color: #000000;
    margin-top: 16px;
}

.footer .supplies-list .supplies-list-item .supplies-item-panel .list {
    margin: 13px 0 0 0;
    width: 40px;
    height: 0;
    border-bottom: 2px solid #f83244;
}

.footer .supplies-list .supplies-list-item .supplies-item-panel .p2,
.p3 {
    margin-top: 14px;
    float: left;
    position: relative;
    padding: 0 8px;
    font-size: 14px;
    line-height: 14px;
    color: #333333;
    cursor: pointer;
}

.footer .supplies-list .supplies-list-item .supplies-item-panel:hover {
    margin-top: -4px;
}

.footer .supplies-list .supplies-list-item .supplies-item-panel .p2 span:hover {
    border-bottom: 1px solid black;
}

.footer .supplies-list .supplies-list-item .supplies-item-panel .p3 span:hover {
    border-bottom: 1px solid black;
}

.footer .supplies-list .supplies-list-item .supplies-item-panel .p2::after {
    position: absolute;
    top: 0;
    right: -2px;
    content: '/';
    color: #cccccc;
    font-size: 14px;
    line-height: 14px;
}

.footer .more {
    width: 100%;
    margin-top: 36px;
}

.footer .more a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 160px;
    height: 48px;
    border: none;
    background-color: #f83244;
    box-shadow: 0px 16px 24px 0px rgba(248, 50, 68, 0.2);
    border-radius: 24px;
    color: #fff;
    font-size: 16px;
    outline: 0 none !important;
    cursor: pointer;
}

.footer .more a img {
    margin-left: 10px;
    width: 20px;
    height: 15px;
}